---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import TableOfContents from '../../components/TableOfContents.astro';
import { render } from 'astro:content';
import '../../styles/tailwind.css';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await render(post);
---

<BlogPost {...post.data}>
        <div class="lg:flex lg:gap-8">
                <div class="flex-1">
                        <Content />
                </div>
                <TableOfContents {headings} />
        </div>
</BlogPost>
